.popular-track-screen__group {
  display: grid;
  grid-template-columns: repeat(2, 551px);
  gap: 25px 50px;
}

.popular-track-screen__column {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.popular-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular-track__image {
  width: 55px;
  height: 55px;
}
.popular-track__music-info {
  margin-left: 15px;
}
.popular-track__artict-name {
  font-size: 12.8px;
  text-transform: uppercase;
  color: #fff;
}
.popular-track__music-name {
  font-size: 12.8px;
  color: #e0e0e0;
}
.popular-track__time {
  justify-self: end;
  font-size: 12.8px;
  color: #e0e0e0;
}

@media (max-width: 414px) {
  .popular-track-screen__group {
    grid-template-columns: auto;
    gap: 25px;
  }
}