.similar-artist {
  display: flex;
  gap: 25px 50px;
  flex-wrap: wrap;
}

.similar-item {
  max-width: 250px;
  text-align: center;
}
.similar-item__img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 100%;
  vertical-align: middle;
}
.similar-item__info {
  margin-top: 18px;
}
.similar-item__name {
  text-transform: none;
}
.similar-item__fans {
  color: #e0e0e0;
}

@media (width <= 414px) {
  .similar-artist {
    grid-template-columns: repeat(2, max-content);
  }
  .similar-item {
    max-width: 137px;
  }
  .similar-item__img {
    max-width: 137px;
    max-height: 137px;
    vertical-align: middle;
  }
}