.subscribe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin-top: 45px;
}
@media (max-width: 414px) {
  .subscribe {
    margin-top: 45px;
  }
}
.subscribe__card {
  padding: 0 1.5rem;
  border-radius: 1rem;
}
.subscribe__name {
  padding-top: 24px;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 414px) {
  .subscribe__name {
    font-size: 16px;
    padding-top: 16px;
  }
}
.subscribe__price {
  display: flex;
  justify-content: center;
}
.subscribe__disclaimer {
  padding: 64px 0;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #fff;
}

.price {
  font-size: 64px;
  line-height: 1em;
  color: #fff;
}

.value {
  font-size: 32px;
  color: #fff;
}

.bg-free {
  background-image: url("..//images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-standart {
  background-image: url("..//images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url("..//images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.btn-container {
  width: 100%;
}
.btn-container .subscribe__btn {
  height: 66px;
  font-size: 16px;
}

@media (max-width: 414px) {
  .subscribe-container {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 50px;
  }
  .card-subscribe .card-name {
    padding-top: 16px;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .subscribe {
    display: grid;
    grid-template-columns: auto;
  }
}