@import "variables";

.baner-container-artist {
  background-image: url("..//images/Morten Harket.png");
}

.btn-violet {
  display: flex;
  align-items: center;
  gap: 16px;

  width: 220px;
  height: 62px;
  border: 0;
  padding: 21px 31px;


  background: $violet;
  cursor: pointer;

  &:active {
    background: #36186d;
  }
}

.btn-brown {
  display: flex;
  align-items: center;
  gap: 16px;

  width: 220px;
  height: 62px;
  border: 0;
  padding: 21px 31px;

  background: $brown;

  cursor: pointer;


  &:active {
    background: #712b08;
  }
}

.btn-image {
  width: 20px;
  height: 20px;
}

.btn__artist {
  display: flex;
  justify-content: start;
  gap: 24px;
}

.first-screen-artist {
  padding: 200px 0 220px;
}

.first-screen-text {
  font-weight: 400;
  margin-top: 16px;
}

@media(width <=414px) {
  .first-screen-artist {
    padding: 55px 0 220px;
  }

  .btn__artist {
    display: flex;
    flex-direction: column;
  }
}