@import "variables";

.discography {
  display: flex;
  gap: 25px 50px;
  flex-wrap: wrap;
}

.album {
  max-width: 250px;

  &__img {
    max-width: 250px;
    max-height: 250px;
    vertical-align: middle;
  }

  &__info {
    margin-top: 18px;
  }

  &__name {
    text-transform: none;
  }

  &__year {
    color: $light-grey;
  }
}

@media screen and (max-width:414px) {
  .album {
    max-width: 137px;

    &__img {
      max-width: 137px;
      max-height: 137px;
    }
  }
}