@import "variables";

.footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

  a {
    color: $light-grey;

    &:hover {
      color: $white;
    }
  }
}

.nav-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;

  padding: 62px 0 72px;
}

.nav-link {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  column-gap: 24px;

  margin-top: 19px;
}

.nav-icon {
  width: 25px;
  height: 25px;

  background-repeat: no-repeat;
}

.google {
  background-size: auto;
  background-image: url("..//images/Google+.png");
}

.twitter {
  background-image: url("..//images/Twitter.png");
}



.footer__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  padding: 39px 20px 49px;
}

.footer__line {
  height: 2px;
  background-color: $grey;
}

.nav__list {
  margin-top: 16px;
}

@media(width <=414px) {
  .nav-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: 30px;
  }

  .footer__menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, min-content);
    row-gap: 16px;
  }

  .footer__line {
    height: 2px;
    background-color: $grey;
  }
}