@font-face {
  font-family: Roboto, sans-serif;
  src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto, sans-serif;
  src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: Roboto, sans-serif;
  src: url('../fonts/Roboto-Regular.ttf');
}

body {
  margin: 0;

  font-family: Roboto, sans-serif;
  color: $grey;
  line-height: 1.5;

  background: $black;
}


p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;

  cursor: pointer;

  :active {
    color: inherit;
  }
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-16 {
  margin-right: 16px;
}

.m-c {
  margin: 0 auto;
}

.center {
  text-align: center;

}

.h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  text-align: center;
  text-transform: uppercase;

  color: $white;

  @media (max-width:414px) {
    font-size: 30px;
    line-height: 45px;
  }
}

.h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;

  color: $white;

  @media (max-width:414px) {
    font-size: 18px;
  }
}



.h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-transform: capitalize;

  color: $white;

  @media (max-width:414px) {
    font-size: 16px;
  }
}

.h4 {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: $white;
}

.base-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: $white;
}

.menu-text {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
}

.flx {
  display: flex;
  align-items: center;
}


.btn {
  width: 100%;

  border-radius: 5px;
  border: 1px solid #FFFFFF;
  background: transparent;

  font-style: normal;
  font-weight: 400;
  font-size: 13.3px;
  text-transform: uppercase;
  color: $white;

  cursor: pointer;
}

.btn-green {
  display: block;

  width: 570px;
  height: 57px;

  border: 0px;

  background: $green;
  cursor: pointer;
}