.img-r {
  flex-direction: row-reverse;
}

.news-item {
  display: flex;
  justify-content: space-between;

  .news-text {
    margin-top: 30px;
  }

  .news-footer {
    .news-author {
      display: flex;
    }

    .author-name {
      font-size: 12px;
      color: $orange;

      text-transform: uppercase;
    }

    .news-data {
      font-size: 12px;
      color: $grey;
    }

    .news-btn {
      display: block;
      box-sizing: border-box;

      width: 135px;
      height: 53px;

      padding-top: 16px;

      text-align: center;
    }
  }
}

@media (max-width:414px) {
  .news-item {
    display: block;

    .news-text {
      margin-top: 16px;
    }

    .news-img {
      margin: 0;
      width: 100%;
    }

    .news-footer {

      .author-name {
        font-size: 12.8px;
      }

      .news-data {
        font-size: 12.8px;
      }
    }
  }
}