@import "variables.scss";

.news {
  display: flex;
  justify-content: space-between;

  &__img {
    box-sizing: border-box;
    vertical-align: middle;
    max-width: 570px;
  }

  &__body {}

  &__text {
    margin-top: 30px;
  }

  &__footer {
    display: flex;
  }

  &__author {
    font-size: 12px;
    color: $orange;

    text-transform: uppercase;
  }

  &__data {
    font-size: 12px;
    color: $grey;
  }

  &__btn {
    display: block;
    box-sizing: border-box;

    width: 135px;
    height: 53px;

    padding-top: 16px;

    text-align: center;
  }
}

.img-r {
  flex-direction: row-reverse;
}

@media (max-width:414px) {
  .news {
    display: block;

    &__body {
      margin-top: 50px;
    }

    .news__text {
      margin-top: 16px;
    }

    .news__img {
      box-sizing: border-box;
      margin: 0;
      width: 100%;
    }

    .news__footer {

      .news__author {
        font-size: 12.8px;
      }

      .news__data {
        font-size: 12.8px;
      }
    }
  }
}

@media (max-width:768px) {
  .news__item {
    display: block;
  }

  .news__text {
    margin-top: 16px;
  }
}