.app {
  display: grid;
  grid-template-columns: 1fr 1fr;

  &__text {
    margin-top: 14px;
  }

  &__btn {
    box-sizing: border-box;

    width: 131px;
    height: 53px;

    padding-top: 16px;

    background-color: $brown;
    border-radius: 32px;
    border: none;

    font-size: 12.8px;
    text-transform: none;
    color: $white;
  }

  &__img {
    justify-self: center;
  }
}




@media (max-width:414px) {
  .app {
    display: grid;
    grid-template-columns: 1fr;

    &__text {
      grid-row: 2;

      margin-top: 16px;
    }

    &__btn {
      margin-top: 15px;
    }
  }
}