@import "variables.scss";

.app {
  display: grid;
  grid-template-columns: 600px auto;

  @media (max-width:414px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
  }

  &__text {
    margin-top: 16px;

    @media (max-width:414px) {
      grid-row: 2;
      margin-top: 0px;
    }
  }

  &__btn {
    box-sizing: border-box;

    width: 131px;
    height: 53px;

    padding-top: 16px;

    background-color: $brown;
    border-radius: 32px;
    border: none;

    font-size: 12.8px;
    text-transform: none;
    color: $white;

    @media (max-width:414px) {}
  }


  &__img {
    margin-left: 144px;
    justify-self: left;

    @media (max-width:414px) {
      margin-left: 0px;
      justify-self: center;
    }
  }
}