@import "variables.scss";

.popular-track-screen__group {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 25px 50px;
}

.popular-track-screen__column {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.popular-track {
  display: flex;
  align-items: center;
  justify-content: space-between;


  &__image {
    width: 55px;
    height: 55px;
  }

  &__music-info {
    margin-left: 15px;
  }

  &__artict-name {
    font-size: 12.8px;

    text-transform: uppercase;
    color: $white;
  }

  &__music-name {
    font-size: 12.8px;
    color: $light-grey;
  }

  &__time {
    justify-self: end;

    font-size: 12.8px;
    color: $light-grey;
  }
}

@media (max-width:414px) {
  .popular-track-screen__group {
    grid-template-columns: auto;
    gap: 25px;
  }


}