@import "variables";

.subscribe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;

  margin-top: 45px;

  @media all and (max-width: 414px) {
    margin-top: 50px;
  }

  &__card {
    padding: 0 1.5rem;

    border-radius: 1rem;
  }

  &__name {
    padding-top: 24px;

    font-weight: 400;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: $white;

    @media all and (max-width: 414px) {
      padding-top: 14px;

      font-size: 16px;
      font-weight: 400;
    }
  }

  &__price {
    display: flex;
    justify-content: center;
  }

  &__disclaimer {
    padding: 64px 0;

    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: $white;
  }
}

.price {
  font-size: 64px;
  line-height: 1em;

  color: $white;
}

.value {
  font-size: 32px;

  color: $white;
}

.bg-free {
  background-image: url("..//images/subscribe_1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media all and (max-width: 414px) {
    background-position: top center;

  }
}

.bg-standart {
  background-image: url("..//images/subscribe_2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (width <=414px) {
    background-position: top center;
  }
}

.bg-premium {
  background-image: url("..//images/subscribe_3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (width <=414px) {
    background-position: top center;
  }
}

.btn-container {
  width: 100%;

  .subscribe__btn {
    height: 66px;

    font-size: 16px;
  }
}

@media (width <=414px) {
  .subscribe {
    display: grid;
    grid-template-columns: auto;

    .subscribe-container {
      display: grid;
      grid-template-columns: auto;
      grid-row-gap: 50px;
    }


    .card-subscribe {
      .card-name {
        padding-top: 16px;

        font-size: 16px;
      }
    }
  }
}