@import "variables.scss";

.subscribe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;

  margin-top: 45px;

  @media (max-width: 414px) {
    margin-top: 45px;
  }

  &__card {
    padding: 0 1.5rem;

    border-radius: 1rem;
  }

  &__name {
    padding-top: 24px;

    font-weight: 400;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: $white;


    @media (max-width: 414px) {
      padding-top: 16px;

      font-size: 16px;
      font-weight: 700;
    }
  }

  &__price {
    display: flex;
    justify-content: center;
  }

  &__disclaimer {
    padding: 64px 0;

    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: $white;
  }
}

.price {
  font-size: 64px;
  line-height: 1em;

  color: $white;
}


.value {
  font-size: 32px;

  color: $white;
}


.bg-free {
  background-image: url("..//images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-standart {
  background-image: url("..//images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url("..//images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}


.btn-container {
  width: 100%;

  .subscribe__btn {
    height: 66px;

    font-size: 16px;
  }
}


.subscribe__disclaimer {}

@media (max-width: 414px) {
  .subscribe-container {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 50px;
  }


  .card-subscribe {
    .card-name {
      padding-top: 16px;

      font-size: 16px;
    }
  }
}

@media (max-width: 768px) {
  .subscribe {
    display: grid;
    grid-template-columns: auto;
  }

  .subscribe__disclaimer {}
}